body{
  background-color: #EEF5DB;
}
h1, h2, h3{
  background-color: #D3D3D3;
}
/*header*/
header>h1{
  text-align: center;
  font-size: 22px;
  margin:12px;
}
/*header*/

/*main*/
body>main>section>img{
  margin:6px;
  max-height: 20%;
  max-width: 20%;
  float: left;
  display: inline-block;
}
section{
  margin:10px;
}
section>p{
  margin:5px;
}
#top>div{
  display: inline-block;
  height: 20vh;
  width:70vw;
}
#middle{
  float:left;
  width:70vw;
  display: inline-block;
}
#bottom{
  width:70vw;
  display: inline-block;
}
aside{
float:right;
width:20vw;
display:inline-block;
margin top: 10px
}
article{
  margin:6px;
}
/*main*/

/*footer*/
footer{
  width:100%;
  position:fixed;
}
footer > nav > ul > li {
  display: inline-block;

}
@media only screen and (max-width:480px){
  #top>div{
  height: 10vh;
  width:35vw;
}
#middle{
  float:left;
  width:35vw;
  display: inline-block;
}
#bottom{
  width:35vw;
  display: inline-block;
}
aside{
float:right;
width:10vw;
display:inline-block;
margin top: 10px
}
@media only screen and (max-width:240px){
  #top>div{
  height: 5vh;
  width:17.5vw;
}
#middle{
  float:left;
  width:17.5vw;
  display: inline-block;
}
#bottom{
  width:17.5vw;
  display: inline-block;
}
aside{
float:right;
width:5vw;
display:inline-block;
margin top: 10px
}

}



/*footer*/
